.event-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgba(141, 138, 138, 0.294);
    overflow: hidden;
    transition: all 500ms;
    max-width: 23rem;

    &:hover {
        transform: scale(1.10);
    }

    img {
        object-fit: cover;
    }

    .description {
        padding: 0.5rem 1.25rem;
        .title {
            font-size: 1.3rem;
        }
        .one-line-desc {
            font-size: 0.8rem;
        }
    }

}

@media only screen and (max-width: 600px) {
    .event-card {
        min-width: 21rem;
        scroll-snap-align: center;

        &:hover {
            transform: none;
        }
    }
}